.nav{
    width: 100%;
    height: 90px;
    /* border: 3px solid black; */
    display: flex;
    background-color: rgb(253, 250, 243);
    
}
.logo{
  width: 10%;
  height: 90px;
  /* border: 2px solid black; */
  margin-left: 150px;
  cursor: pointer;
}
.logo >.logoimg img{
    width: 95%;
    height: 90px;
}
.navele{
    margin: auto;
    width: 30%;
    height: 90px;
    /* border: 2px solid red; */
    /* background-color: whitesmoke; */
     margin-left:80px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;

}
.navele{
   transition: transform .2s;
   margin: 0 auto;
}
.navele:hover {
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.3); 
}
.navtxt{
    text-decoration: none;
    font-size: 5px;
   }
  .navtxt:hover{
    color: rgb(246, 16, 51);
  } 


.bar{
    width: 270px;
    height: 60px;
    /* border: 2px solid blue; */
    margin-right: 185px;
    align-items: center;
    margin-top: 15px;
    display: flex;
    font-size: medium;
}
.bar :nth-child(1){
    /* background-color: whitesmoke; */
    
    align-items: center;
    border: none;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    text-decoration: none;
    

}
.bar :nth-child(2){
    cursor: pointer;
    align-items: center;
    color: white;
    border: none;
    padding: 15px 10px 15px 10px;
    /* text-decoration: none; */


}
.signup{
    background-color: rgb(236, 124, 12);
    /* text-decoration: none; */
    color: white;
   
}
  
    #container {
position: relative;
width: 100%;
height:400px;
margin:  auto;
}

#container #img {
width:100%;
height:400px
}

#container #content {
position:absolute;
bottom: 0;
background: transparent; /* Fallback color */
background: transparent; /* Black background with 0.5 opacity */
color:white;
width: 100%;
padding-bottom: 70px;
padding-left: 850px;
font-size: x-large;
}
#button{
background-color: #05055b;
color: antiquewhite;

}
#button:hover{
    cursor: pointer;
    background-color: red;
}
#next{

justify-content: space-between;
width:100%;
height:300px;
margin-left: 100px;
margin-top: 50px;
}


#next div{
width:32%;
height:300px;
display:inline-flex;


  
}
#next img{
width:80%;
height:auto;

}

#first{
margin-left: 700px;
height: fit-content;
margin-top: 50px;
font-size:x-large;
width:100%;

}
#food {
position: relative;
width: 100%;
height:auto;

padding-top: 50px;
}
#food img{
width:100%;
height:auto;
}




#wine{
width:100%;
margin-top: 50px;

}
#wine img{
width:100%;

}
#last{
width:100%;
margin-top: 50px;

}
#last img{
width:100%;
}
#exp{
width:100%;
margin-top: 50px;

}
#exp img{
width:100%;
}
#gre{
width:100%;
margin-top: 50px;

}
#gre img{
width:100%;

}
#som{
width:100%;
margin-top: 50px;

}
#som img{
width:100%;

}
#logo img{
width: 50px;
}
#insta{
justify-content: space-evenly;
background-color: blueviolet;
display:inline-flex;
width:100%;
height:10%
}
#insta div{
display: block;


}
#blog{
display:flex;
background-color: aquamarine;
width:30%;
height: 10%;
}
#logo{
display: flex;
background-color: blue;
height:auto;
width:30%;
height: 10%;
}
#email{
width:30%;
background-color: brown;
height: auto;
display: block;
height: 10%;
}
.final{
    width:100%;
    height: 380px;
    /* border: 5px solid blue; */
    display: flex;
    color: white;
    background-color: rgb(15,52,108); 
    justify-content: space-between;
}
.fcard{
   
    width: 70%;
    padding-left: 25px;
    height: 360px;
    /* border: 2px solid pink; */
    margin: auto;
    /* cursor: pointer; */

   
   
}
.theend{
    width: 100%;
    height: 350px;
    /* border: 2px solid pink; */
    margin: auto;
   background-color: rgb(15,52,108); 
}
.theendcard{
width: 600px;
height: 350px;
/* border: 2px solid green; */
margin: auto;
}
.lastcard{
margin: auto;
/* border: 5px solid blue; */
padding-left: 200px;
cursor: pointer;
}
.lastcard img{
width: 190px;
height: 100px;
padding-left: 22px;
}
.lastcard1 :nth-child(2){
width: 240px;
padding-left: 25px;
cursor: pointer;


}
.lastcard1 :nth-child(1){
width: 218px;
padding-left: 80px;
cursor: pointer;


}
.lastcard1 p{
text-align: center;
padding-right: 45px;
color: white;
}

.foot{
font-size: medium;
cursor: pointer; 
}
.foot1{
font-size: medium;
color: white;
}
.foot:hover{
color: rgb(2, 231, 48);
color: rgb(241, 103, 11);
}
.navtxt{
text-decoration: none;
font-size: medium;
}